.wrapper {
    width: 80%;
    margin: 10px auto;
}

#imgFrom,
#imgTo {
    width: 40px;
    height: 27px;
}

div {
    margin-top: 10px;
    position: relative;
}
#imgToSell,
#imgFromSell,
#imgToBuy,
#imgFromBuy {
    position: absolute;
    height: 1.2em;
    font-size: 1em;
}
#imgFromSell {
    left: 227px;
    top: -15px;
}
#imgFromBuy {
    left: 227px;
    top: 30px;
}
#imgToSell {
    left: 510px;
    top: -15px;
}
#imgToBuy {
    left: 510px;
    top: 30px;
}

#swap {
    width: 40px;
    height: 40px;
    transition: .2s ease 0s;
    transform: rotate(0deg);
    border: none;
    outline: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAABJElEQVRIx+2XvQqDMBSFfVnRzUXwZxDBwcEXEFzEyUFHH8BJZwf1bVJOIaW1oi0mcGnvgTMmfubeJCeGwWKxWKzfUtu2gixckiQijmOagL7vC9M06QGu6yocx7nDkQMcx1HYtv2AIwXYdd0LmDSAwzA8dF3Xen+iqqpduE9dFIU+wDzPL8FpB4Rc16UNCEVRpAwwTVMxTZN66CzL3j4eBIGY5/nQ23mw8y3LEn3fq4fEalw9ZjBGjtdyVWJSVYDaehTlQZn2AM9KjrbYtgraRzkkGh0Nf9QC3xgbUftuvwII40gjDQjjciALWJal3hVEMDgLD9tEJI1AYlDQ9pgB8DAMdHLlMyDC77IstFK5BPQ8j+Z7BoB4cJGEg5qmoQvHYrH+XTeZyG4hZ4FXBAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
}

#swap:active {
    transform: rotate(180deg);
}

.adder label {
    display: block;
}

.adder {
    position: absolute;
    top: 15px;
    right: 170px;
    float: right;
    width: 200px;
    padding: 25px;
    border: 1px solid red;
    border-radius: 25px;
}

#convertor {
    height: 180px;
    padding: 25px;
    border: 1px solid red;
    border-radius: 25px;
}

h1 {
    margin-top: 0;
}